.main{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images-tab{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.actor-card {
    width: 185px;
    margin: 10px;
  }