.movies-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

mat-card{
    width: 185px;
    margin: 10px;
    mat-card-title{
        font-size: 90%;
    }
}

mat-card:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.fix_icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}