<mat-card *ngIf="movie" class="main">
    <mat-card-header class="title">
      <mat-card-title class="movie-title"> {{movie.title}} </mat-card-title>
      <mat-card-subtitle>
        <mat-chip-list>
          <mat-chip *ngFor="let genre of movie.genres" color="accent" selected="true">
            {{genre.name}}
          </mat-chip> 
        </mat-chip-list>
      </mat-card-subtitle>
  </mat-card-header>
  <div class="detail-content">
    <div class="detail-left">
        <div *ngIf = 'movie.poster_path ; then trueCase else falseCase'></div>
        <ng-template  #trueCase>
          <div class="poster">
              <img src="https://image.tmdb.org/t/p/w342/{{movie.poster_path}}" >
          </div>
        </ng-template>
        <ng-template #falseCase>
            <div class="poster">
              <img src="assets/noimg.png" >
            </div>
        </ng-template>
      <!--div *ngIf="movie.poster_path">
        <img src="https://image.tmdb.org/t/p/w342/{{movie.poster_path}}">
      </div-->
    </div>
    <div class="information">
        <mat-card-header>
          <mat-card-subtitle>
            <ul class="icons-information">
              <li class="fix_icon" *ngIf="movie.runtime">
                <div>
                  <mat-icon>star</mat-icon>
                </div>
                <div>{{movie.vote_average}}</div>
              </li>
              <li class="fix_icon" *ngIf="movie.release_date">
                <div>
                  <mat-icon>event</mat-icon>
                </div>
                <div>Released: {{movie.release_date | date}}</div>
              </li>
              <li class="fix_icon" *ngIf="movie.runtime">
                <div>
                  <mat-icon>update</mat-icon>
                </div>
                <div>Runtime: {{movie.runtime}} min</div>
              </li>
              <li class="fix_icon" *ngIf="movie.revenue">
                <div>
                  <mat-icon>attach_money</mat-icon>
                </div>
                <div>Profit: {{movie.revenue | currency}}</div>
              </li>
              <li class="fix_icon" *ngIf="movie.budget">
                <div>
                  <mat-icon>money_off</mat-icon>
                </div>
                <div>Inversion: {{movie.budget | currency}}</div>
              </li>
            </ul>
          </mat-card-subtitle>
      </mat-card-header>
      <mat-divider [inset]="true"></mat-divider>
      <div *ngIf="movie.overview">
          <mat-card-title class="movie-overview">Overview</mat-card-title>
          <p align="justify">
            {{movie.overview}}
          </p>
      </div>
      <div class="trailer-and-more">
        <div *ngIf="safeURLTrailer" class="image-in-tab">
          <iframe [src]="safeURLTrailer" frameborder="0" width="600" height="400" ></iframe>
        </div>
        <mat-tab-group mat-stretch-tabs="always" class="production-tabs">
        <mat-tab label="Production Companies">
          <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let companie of movie.production_companies">{{companie.name}}</mat-list-item>
          </mat-list>
        </mat-tab>
        <mat-tab label="Production Countries">
          <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let country of movie.production_countries">{{country.name}} </mat-list-item>
          </mat-list>
        </mat-tab>
      </mat-tab-group>
      </div>
    </div>
  </div>
  <div class="extra-tabs">
      <mat-tab-group mat-stretch-tabs="always" color="primary">
        <mat-tab label="Images">
          <app-movie-detail-images [movieId]="movieId"></app-movie-detail-images>
        </mat-tab>
        <mat-tab label="Videos">
          <app-movie-detail-videos [movieId]="movieId"></app-movie-detail-videos>
        </mat-tab>
        <mat-tab label="Cast">
          <app-movie-detail-cast [movieId]="movieId"></app-movie-detail-cast>
        </mat-tab>
        <mat-tab label="Crew">
          <app-movie-detail-crew [movieId]="movieId"></app-movie-detail-crew>
        </mat-tab>
        <mat-tab label="Recommended Movies">
          <app-movie-detail-recommendations [movieId]="movieId" (newMovieId)="ListenChild($event)"></app-movie-detail-recommendations>
        </mat-tab>
      </mat-tab-group>
    </div>
</mat-card>