.title{
    align-self: center;
    .movie-title{
        font-size: 230%;

    }
    mat-chip-list{
        display: flex;
        justify-content: center;
    }
}

.movie-overview{
    padding-top: 20px;
    font-size: 170%;
}

.main{
    display: flex;
    flex-direction: column;
    min-height: stretch;
}

.detail-content{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    mat-list{
        display: flex; 
        flex-direction: column; 
        flex-wrap: wrap;
        max-height: 200px; 
    }
    img {
        border-radius: 10px;
    }
}

.information{
    margin-left: 50px;
}

.extra-tabs{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.images-tab{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.image-in-tab{
    margin: 10px;
}

.fix_icon{
    padding-right: 30px;
    padding-bottom: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.icons-information{
    padding-left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.detail-left{
    display: flex;
    flex-direction: column;
}