.title{
    align-self: center;
    //border: solid red;
    .movie-title{
        font-size: 230%;
        //border: solid saddlebrown;
        text-align: center;
    }
    mat-chip-list{
        display: flex;
        justify-content: center;

        mat-chip:hover{
            cursor: pointer;
            background-color: darkblue;
        }
    }
}
.details{
    display: flex;
    flex-direction: column;
    //min-height: stretch;
    //height: 800px;
}

.background-image {
    object-fit: fill;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: opacity(20%);
    background-size: cover;
    background-position: 50% 50%;
  }

.movie-overview{
    padding-top: 20px;
    font-size: 170%;
}

.main{
    display: flex;
    flex-direction: column;
    min-height: stretch;
    //border: solid salmon;
    background-color: white;
}

.detail-content{
    position: relative;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    //border: solid green;
    flex-wrap: wrap;
    justify-content: center;
    .detail-left{
        display: flex;
        flex-direction: column;
        //border: solid orange;
        padding-right: 50px;
    }
    .information{
        max-width: 1300px;;
        //border: solid blue;
    }
    mat-list{
        display: flex; 
        flex-direction: column; 
        flex-wrap: wrap;
        max-height: 200px; 
    }
    img {
        border-radius: 10px;
    }
}

.extra-tabs{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.images-tab{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.image-in-tab{
    margin: 10px;
}

.fix_icon{
    padding-right: 30px;
    padding-bottom: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.icons-information{
    padding-left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.poster{
    display: block;
    width: 342px;
    height: 513px;
    border-radius: 10px;
    img {
        width: 342px;
        height: 513px;
        border-radius: 10px;
    }
}

.trailer-and-more{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .production-tabs{
        margin-left: 60px;
        width: 600px;
    }
}