.list-movies{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    .movies-grid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.poster{
    position: relative;
    margin: 15px;
    display: block;
    width: 300px;
    height: 450px;
    border-radius: 10px;
    img {
        object-fit: fill;
        width: 300px;
        height: 450px;
        border-radius: 10px;
    }
    .preview{
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        visibility: hidden;
        .movie-title{
            color: white;
            margin: 20px;
        }
        .movie-summary{
            color: white;
            margin: 20px;
            text-align: justify;
        }
        .movie-genres{
            display: flex;
            flex-wrap: wrap;
            color: white;
            margin: 20px;
            position: absolute;
            //top:300px;
            bottom: 0px;
            span{
                margin-top: 5px;
            }
        }
    }
}

.poster:hover{
    cursor: pointer;
    img{
        filter: brightness(10%);
    }
    .preview{
        visibility: visible;
    }
} 
