<div class="list-movies">
  <h1>{{title}}</h1>
  <div class="movies-grid">
    <div *ngFor="let movie of moviesList, let i=index"
    class='poster'
    [routerLink]="['/movie/detail', movie.id]"
    >
      <div *ngIf = 'movie.poster_path !== null; then trueCase else falseCase'></div>
      <ng-template #trueCase>
        <img src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}">
      </ng-template>
      <ng-template #falseCase>
          <img src="assets/noimg.png" >
      </ng-template>
      
      <div class="preview">
        <h2 class="movie-title"> {{movie.title}} ({{movie.release_date | date:'y'}})</h2>
        <p class="movie-summary">{{ (movie.overview.length > 300) ? (movie.overview | slice:0:300) + '...' : (movie.overview) }}</p>
        <div class="movie-genres">
          <span *ngFor="let id of movie.genre_ids, let i=index">
            {{getGenreName(id)}}
            <span *ngIf='i !== movie.genre_ids.length - 1 '>&nbsp; | &nbsp;</span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <mat-paginator #paginator [length]="totalResults" hidePageSize="true" showFirstLastButtons="true" (page)="changePage($event)" [pageSize]="20" ></mat-paginator>
</div>
