<div class="images-tab">
  <div style="margin: 20px;">
      <mat-form-field>
        <mat-select [(value)]="selected" placeholder="Filtered by:">
          <mat-option *ngFor="let option of options" value="{{option}}">{{option}}</mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <mat-list>
    <div *ngFor="let person of movieCrew">
      <div *ngIf = 'selected === person.department || selected === "All"; then trueCase'></div>
      <ng-template #trueCase>
        <mat-list-item [routerLink]="['/person/detail', person.id]">
          <img *ngIf = 'person.profile_path !== null' matListAvatar src="https://image.tmdb.org/t/p/w45/{{person.profile_path}}">
          <img *ngIf = 'person.profile_path === null' matListAvatar src="assets/noimg.png">
          <h3 matLine> {{person.name}} </h3>
          <p matLine>
            <span> {{person.department}} </span>
            <span class="demo-2"> -- {{person.job}} </span>
          </p>
        </mat-list-item>
      </ng-template>
    </div>
  </mat-list>
</div>