<!--app-movies-top-rated></app-movies-top-rated-->
<!--form class="example-form">
    <mat-form-field class="example-full-width">
        <input type="text" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
            {{option}}
        </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form-->
<app-movies-list [listType]="'popular'"></app-movies-list>
<app-movies-list [listType]="'now_playing'"></app-movies-list>
<!--app-search></app-search-->

<!--td-layout>
    <td-layout-nav navigationRoute="/">
        <div td-toolbar-content layout="row" layout-align="start center" flex>
            <button mat-icon-button td-menu-button tdLayoutToggle>
                <mat-icon>menu</mat-icon>
            </button>
            <mat-icon class="mat-icon-logo cursor-pointer" >undo</mat-icon>
            <mat-icon [routerLink]="['']" class="mat-icon-logo cursor-pointer">home</mat-icon>
        </div>
        <app-movies-top-rated></app-movies-top-rated>
    </td-layout-nav>
</td-layout-->


<!--mat-toolbar class="my-toolbar" color="accent">
    <div>
        <mat-icon class="example-icon">menu</mat-icon>
    </div>
    <div>
        <mat-icon class="example-icon">search</mat-icon>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="First name">
        </mat-form-field>
        <button mat-fab>
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
        <mat-form-field appearance="legacy">
            <input matInput>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
</mat-toolbar-->


<!--mat-card layout="column" >
        <mat-toolbar color="primary">
            <div class="md-toolbar-tools">
            <h3>Card Header</h3>
            <span flex></span>
            <button mat-button class="md-icon-button">
                <mat-icon mat-font-icon="fa-calendar" class="fa" aria-label="open menu"></mat-icon>
            </button>
            <button mat-button class="md-icon-button">
                <mat-icon mat-font-icon="fa-user" class="fa" aria-label="open menu"></mat-icon>
            </button>
            </div>
        </mat-toolbar>
        <mat-card-content>Card Content</mat-card-content>
</mat-card-->