.images-tab{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    .embed-container {
        margin: 10px;
        width: 680px;
        //width: 46.5%;
        position: relative;
        padding-bottom: 30.25%;
        height: 0;
        overflow: hidden;
    }
    .embed-container iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}