.mat-icon {
    width: 50px;
  }
  
.my-tool{
    display: flex;
    justify-content: space-between;
    //top: 0;
    //position: fixed;
    //z-index:999;
  }

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    background-color: lightgray;
    padding: 10px;
}

.example-form-field {
    width: 200px;
}
