<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true">
    <mat-toolbar color="primary" class="fixed-header">Menu</mat-toolbar>
    <mat-nav-list>
      <h3 mat-subheader>Movies</h3>
      <a mat-list-item (click)="drawer.close()" [routerLink]="['/movies', 'now_playing']" routerLinkActive="on"><mat-icon mat-list-icon>theaters</mat-icon>Now Playing</a>
      <a mat-list-item (click)="drawer.close()" [routerLink]="['/movies', 'top_rated']" routerLinkActive="on"><mat-icon mat-list-icon>star</mat-icon>Top Rated</a>
      <a mat-list-item (click)="drawer.close()" [routerLink]="['/movies', 'popular']" routerLinkActive="on"><mat-icon mat-list-icon>trending_up</mat-icon>Popular</a>
      <a mat-list-item (click)="drawer.close()" [routerLink]="['/movies', 'upcoming']" routerLinkActive="on"><mat-icon mat-list-icon>event</mat-icon>Upcoming</a>
      <mat-divider></mat-divider>
      <h3 mat-subheader>People</h3>
      <a mat-list-item (click)="drawer.close()" [routerLink]="['/people/popular']"><mat-icon mat-list-icon>trending_up</mat-icon>Popuplar</a>
      <!--mat-divider></mat-divider>
      <h3 mat-subheader>Movie Genres</h3>
      <a mat-list-item (click)="drawer.close()" *ngFor="let genre of allMoviesGenres" [routerLink]="['/movies', genre.name]" routerLinkActive="on">{{genre.name}}</a-->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" role="heading">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span [routerLink]="['/movies', 'now_playing']" >Movies Application</span>
      <span class="example-spacer"></span>
      <app-search></app-search>
    </mat-toolbar>
    <div class="inner-sidenav-content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
