<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true">
    <mat-toolbar color="primary" class="fixed-header">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="drawer.close()" [routerLink]="['/movies', 'now_playing', '1']" routerLinkActive="on">Movies in theatres</a>
      <a mat-list-item (click)="drawer.close()" [routerLink]="['/movies', 'top_rated', '1']" routerLinkActive="on">Top rated movies</a>
      <a mat-list-item (click)="drawer.close()" [routerLink]="['/movies', 'popular', '1']" routerLinkActive="on">Popular movies</a>
      <a mat-list-item (click)="drawer.close()" [routerLink]="['/movies', 'upcoming', '1']" routerLinkActive="on">Upcoming movies</a>
      <a mat-list-item (click)="drawer.close()" [routerLink]="['/people', 'popular']">Popuplar people</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" role="heading">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span [routerLink]="['/movies', 'now_playing', '1']" >Movies Application</span>
      <span class="example-spacer"></span>
      <app-search></app-search>
    </mat-toolbar>
    <div class="inner-sidenav-content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
