.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    mat-card{
        width: 185px;
        margin: 10px;
    }
    mat-card:hover{
        cursor: pointer;
        transform: scale(1.05);
    }
}