//@import "~@angular/material/prebuilt-themes/purple-green.css";
@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

@include mat-core(); // $typography is an **optional** argument for the mat-core

$primary: mat-palette($mat-blue, 800, 100, 900);
$accent:  mat-palette($mat-light-blue, 600, 100, 900);

$warn:    mat-palette($mat-red, 600, 100, 900);

$theme: mat-light-theme($primary, $accent, $warn);

/*$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);*/

@include angular-material-theme($theme);
@include covalent-theme($theme); // $typography is an **optional** argument for the covalent-theme

html,
body{
    height: 100%;
}

body{
    margin: 0;
}