<mat-card *ngIf="person" class="main">
  <div class="detail-content">
      <div *ngIf = 'person.profile_path !== null; then trueCase else falseCase'></div>
      <ng-template #trueCase>
        <div class="profile-img">
          <img src="https://image.tmdb.org/t/p/w342/{{person.profile_path}}" >
          </div>
      </ng-template>
      <ng-template #falseCase>
          <div class="profile-img">
            <img src="assets/noimg.png" >
          </div>
      </ng-template>
    <div class="information">
      <mat-card-header>
        <mat-card-title> {{person.name}} </mat-card-title>
        <mat-card-subtitle>{{ person.birthday | date}} ({{ person.place_of_birth }}) - {{person.deathday | date}}</mat-card-subtitle>
      </mat-card-header>
      <mat-divider [inset]="true"></mat-divider>
      <h2>Biography</h2>
      <p align="justify">
        {{person.biography}}
      </p>
    </div>
  </div>
  <mat-tab-group mat-stretch-tabs="always">
    <mat-tab label="Known For">
      <app-person-detail-movies [personId]="personId"></app-person-detail-movies>
    </mat-tab>
    <mat-tab label="Images">
      <app-person-detail-images [personId]="personId"></app-person-detail-images>
    </mat-tab>
  </mat-tab-group>
</mat-card>