.main{
    display: flex;
    flex-direction: column;
    min-height: stretch;
    border: solid green;
    align-items: center;

    h1{
        border: solid salmon;
    }
}

.detail-content{
    border: solid saddlebrown;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    mat-list{
        display: flex; 
        flex-direction: column; 
        flex-wrap: wrap;
        max-height: 200px; 
    }
    img {
        border-radius: 10px;
    }
}

.information{
    border: solid blueviolet;
    max-width: 650px;
    min-width: 400px;
    padding: 0px 20px 20px 20px;
    //margin-left: 50px;
    /*mat-card-header{
        display: flex;
        flex-direction: column;
    }
    mat-card-title{
        font-size: 200%;
    }*/
    .person-data{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border: solid red;
        color: rgb(117, 117, 117);
        .fix_icon{
            padding-right: 30px;
            padding-bottom: 10px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
        }
    }
}

.profile-img{
    border: solid orange;
    padding: 0px 20px 20px 20px;
    display: block;
    width: 342px;
    height: 513px;
    border-radius: 10px;
    img {
        width: 342px;
        height: 513px;
        border-radius: 10px;
    }
}

.data{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    mat-card-subtitle{
        margin-right: 50px;
    }
}