<mat-card *ngIf="person" class="main">
  <h1> {{person.name}} </h1>
  <div class="detail-content">
      <div *ngIf = 'person.profile_path !== null; then trueCase else falseCase'></div>
      <ng-template #trueCase>
        <div class="profile-img">
          <img src="https://image.tmdb.org/t/p/w342/{{person.profile_path}}" >
          </div>
      </ng-template>
      <ng-template #falseCase>
          <div class="profile-img">
            <img src="assets/noimg.png" >
          </div>
      </ng-template>
    <div class="information" *ngIf ='person.biography || person.birthday || person.place_of_birth'>
      <div class="person-data">
        <span class="fix_icon" *ngIf ='person.birthday'> <mat-icon>cake</mat-icon> Birth: {{ person.birthday | date}} <span *ngIf ='!person.deathday'> &nbsp; (age {{calculateAge()}})</span></span>
        <span class="fix_icon" *ngIf ='person.place_of_birth'> <mat-icon>room</mat-icon> From: {{ person.place_of_birth }}</span>
        <span class="fix_icon" *ngIf ='person.deathday'> <mat-icon>insert_invitation</mat-icon> Death: {{person.deathday | date}} (age {{calculateAge()}})</span>
      </div>
      <mat-divider [inset]="true"></mat-divider>
      <h2 *ngIf ='person.biography'>Biography</h2>
      <p align="justify">
        {{person.biography}}
      </p>
    </div>
  </div>
  <mat-tab-group mat-stretch-tabs="always">
    <mat-tab label="Known For">
      <app-person-detail-movies [personId]="personId"></app-person-detail-movies>
    </mat-tab>
    <mat-tab label="Images">
      <app-person-detail-images [personId]="personId"></app-person-detail-images>
    </mat-tab>
  </mat-tab-group>
</mat-card>